# While loop

In [2]:
# print a name 10 times

count = 0

while count < 10:
    print('Aditya')
    count += 1  # => count = count + 1

Aditya
Aditya
Aditya
Aditya
Aditya
Aditya
Aditya
Aditya
Aditya
Aditya

In [4]:
count = 0

while count < 10:
    print('Aditya')
    count += 1  # => count = count + 1

print('Goodbye!!!')

Aditya
Aditya
Aditya
Aditya
Aditya
Aditya
Aditya
Aditya
Aditya
Aditya
Goodbye!!!

In [6]:
# print the numbers from 1 to 20

count = 1

while count <= 20:
    print(count)
    count += 1

print('Goodbye!!!!')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
Goodbye!!!!

In [8]:
count

21

In [16]:
# find the addition of numbers from 1 to 10

count = 1
add = 0

while count <= 10:
    add = add + count
    count += 1

print('addition is:', add)

addition is: 55

In [12]:
count

11

In [18]:
# find the addition of odd numbers from 1 to 20

count = 1
add = 0

while count <= 20:
    add = add + count
    count += 2

print('addition is:', add)

addition is: 100

In [26]:
# factorial
# 5! => 5*4*3*2*1 =>120

num = int(input('Enter the number '))
fact = 1
while num > 1:
    fact = fact * num
    num -= 1

print('Factorial:', fact)

Enter the number  5

Factorial: 120

In [30]:
# addition of digits in a number

# 1253 => 1 + 2 + 5 + 3 => 11

1253 % 10

3

In [32]:
1253 // 10

125

In [34]:
125 % 10

5

In [42]:
num = 12345
add = 0

while num > 0:
    rem = num % 10
    num = num // 10
    add = add + rem

print('Addition of digits is:', add)

Addition of digits is: 15

In [1]:
# print 1 to 10 numbers => also state even or odd

count = 1

while count <= 10:
    if count % 2 == 0:
        print(count, ':EVEN')
    else:
        print(count, ':ODD')
    count += 1

1 :ODD
2 :EVEN
3 :ODD
4 :EVEN
5 :ODD
6 :EVEN
7 :ODD
8 :EVEN
9 :ODD
10 :EVEN

# For Loop

In [4]:
for n in 12, 14, 67, 23:
    print(n)

12
14
67
23

In [6]:
for n in 12, 14, 67, 23:
    print(n/2)

6.0
7.0
33.5
11.5

In [12]:
for n in 12, 14, 67, 23, 55.67, 'Adi', True:
    print(n, end = ' ')

12 14 67 23 55.67 Adi True

In [14]:
# range function

In [18]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
list(range(1, 10, 2))
# start, end-1, step

[1, 3, 5, 7, 9]

In [26]:
list(range(20, 10, -2))

[20, 18, 16, 14, 12]

In [32]:
# print the numbers from 0 to 10

for n in range(11):
    print(n, end = ' ')

0 1 2 3 4 5 6 7 8 9 10

In [34]:
# print ur name 10 times
for n in range(10):
    print('Aditya')

Aditya
Aditya
Aditya
Aditya
Aditya
Aditya
Aditya
Aditya
Aditya
Aditya

In [36]:
# find the addition of numbers from 1 to 10

add = 0
for n in range(1, 11):
    add = add + n

print(add)

55

In [44]:
# find the addition of odd numbers from 1 to 20
add = 0
for n in range(1, 21, 2):
    add = add + n

print(add)

100

In [42]:
name = 'Aditya'

for n in name:
    print(n * 3)

AAA
ddd
iii
ttt
yyy
aaa

In [46]:
num = [1, 24, 17, 9]

for n in num:
    print(n)

1
24
17
9

In [48]:
# else

In [50]:
num = [1, 24, 17, 9]

for n in num:
    print(n)
else:
    print('LOOP ENDED')

1
24
17
9
LOOP ENDED

In [52]:
# using for loop find factorial of a number

In [54]:
num = int(input('Enter '))
fact = 1
for n in range(1, num + 1):
    fact = fact * n

print('factorial is:', fact)

Enter  5

factorial is: 120

### break

In [61]:
for n in range(10):
    print(n)
    if n == 5:
        break

0
1
2
3
4
5

In [63]:
count = 0
while count < 10:
    print(count)
    count += 1
    if count == 5:
        break

0
1
2
3
4

In [73]:
#### Continue

for n in range(10):
    if n == 5:
        continue
    print(n)

0
1
2
3
4
6
7
8
9

In [1]:
count = 0
while count < 10:
    count += 1
    if count == 5:
        continue
    print(count)

1
2
3
4
6
7
8
9
10

In [75]:
### pass

In [7]:
n = 5
if n > 1:
    pass

print('ok')

ok

In [15]:
r = int(input('Enter the number of rows'))

for i in range(1, r + 1):
    for j in range(i):
        print('*', end = ' ')
    print()

Enter the number of rows 5

*
* *
* * *
* * * *
* * * * *