##### Basic Function

In [2]:
# Function definition
def show():
    print('Hello World')

In [3]:
# Function call
show()

Hello World

In [4]:
# Function definition
def show():
    print('Hello World')
    print('Welcome!!!')
    print('Good Bye!')

In [5]:
show()

Hello World
Welcome!!!
Good Bye!

In [6]:
show()
show()
show()

Hello World
Welcome!!!
Good Bye!
Hello World
Welcome!!!
Good Bye!
Hello World
Welcome!!!
Good Bye!

##### Parameterized functions

In [9]:
def square(n):  # n -> parameter / argument
    sq = n * n
    print('Square:', sq)

In [10]:
square(4)

Square: 16

In [11]:
square(56.77)

Square: 3222.8329000000003

In [12]:
square(67, 7)

TypeError: square() takes 1 positional argument but 2 were given

In [13]:
def add(num1, num2):
    x = num1 + num2
    print('Addition is:',x)

In [14]:
add(90, 23)

Addition is: 113

In [15]:
add(56.90, 35)

Addition is: 91.9

In [16]:
add('Tushar','Kute')

Addition is: TusharKute

##### Function Returning Values

In [18]:
def square(n):
    sq = n * n
    return sq

In [19]:
val = square(6)

In [20]:
val

36

In [21]:
print('Square of 6 is', square(6))

Square of 6 is 36

In [22]:
square(6) * 6

216

In [23]:
def max(x, y):
    if x > y:
        return x
    else:
        return y

In [24]:
max(56, 78)

78

In [25]:
max(34.23, 19.30)

34.23

In [26]:
print('Maximum value is:' ,max(67,89))

Maximum value is: 89

In [27]:
# Write a function to find factorial of the number
def factorial(n):
    fact = 1
    for i in range(1,n+1):
        fact = fact * i
    return fact

In [28]:
factorial(5)

120

In [29]:
num = int(input('Enter the number: '))
print('Factorial of',num,'is:',factorial(num))

Enter the number:  6

Factorial of 6 is: 720

In [30]:
factorial(9) / factorial(8)

9.0

##### Functions returns multiple values

In [32]:
def calc(num):
    sq = num * num
    cu = num ** 3
    return sq, cu

In [33]:
calc(5)

(25, 125)

In [34]:
print('Square and Cubes:', calc(5))

Square and Cubes: (25, 125)

In [36]:
def isEven(n):
    if n % 2 == 0:
        return True
    else:
        return False

num = int(input('Enter the number:'))

if isEven(num):
    print('Number is Even!')
else:
    print('Number is Odd!')

Enter the number: 56

Number is Even!

##### Default arguments to functions

In [38]:
def calc(x=4, y=2, z=6):
    add = x + y + z
    return add

In [46]:
print('1:', calc(6,8,2))
print('2:', calc(6,8))
print('3:', calc(6))
print('4:', calc())
print('5:', calc(y=5))
print('5:', calc(y=5,z=7,x=1))

1: 16
2: 20
3: 14
4: 12
5: 15
5: 13

In [47]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

##### Variable Arguments

In [49]:
def show(*val):
    for i in val:
        print(i)

In [50]:
show(4,5,6,7)

4
5
6
7

In [51]:
show(40.35,5,6,'Pune',True)

40.35
5
6
Pune
True

##### lambda functions

In [53]:
square = lambda x: x ** 2

In [54]:
square(4)

16

In [55]:
def square(x):
    return (x ** 2)

###### Filter function

In [57]:
num = [56,34,17,59,83,27,49,35]

In [58]:
new = filter(lambda x: x > 50, num)
list(new)

[56, 59, 83]

In [59]:
names = ['nagpur','nashik','pune','solapur','mumbai','kolhapur']

In [60]:
new = filter(lambda x: x.endswith('pur'), names)
list(new)

['nagpur', 'solapur', 'kolhapur']

###### map function

In [62]:
new = map(lambda x: x / 2, num)
list(new)

[28.0, 17.0, 8.5, 29.5, 41.5, 13.5, 24.5, 17.5]

In [63]:
new = map(lambda x: x ** 2, num)
list(new)

[3136, 1156, 289, 3481, 6889, 729, 2401, 1225]

In [64]:
# Excercise:
# Write a function which prints values from n1 to n2

In [65]:
def display(n1, n2):
    for i in range(n1, n2+1):
        print(i)

In [66]:
display(5,10)

5
6
7
8
9
10